<div class="background">
  <div class="container flex-column d-flex justify-content-center align-items-center">
    <h1 class="pt-5 mt-3 display-6 fw-bold text-center position-relative" style="top:20px;">
      Create Claim
    </h1>

    <!-- Search Input -->
    <div class="d-flex align-items-center mt-4 w-50">
      <input type="text" class="form-control" placeholder="Search by Claim ID" [(ngModel)]="searchClaimId"
        (input)="searchByClaimId()" />
    </div>
  </div>

  <div class="container d-flex flex-column justify-content-center align-items-center">
    

  
    <table class="pt-4 mt-4 table table-info table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th class="position-relative text-center ">CUSTOMER ID</th>
          <th class="position-relative text-center ">EMAIL</th>
          <th class="position-relative text-center ">AGENT ID</th>
          <th class="position-relative text-center ">POLICY ID</th>
          <th>AMOUNT</th>
          <th>STATUS</th>
          <th class="position-relative text-center ">REVIEW</th>
          <th>ACTION</th>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let claim of paginatedClaims()">
          <td class="text-dark">{{claim.claimId}}</td>
          <td class="text-dark position-relative text-center">{{claim.customerId}}</td>
          <td class="text-dark">{{claim.customerMail}}</td>
          <td class="text-dark position-relative text-center">{{claim.agentId}}</td>
          <td class="text-dark position-relative text-center">{{claim.policyId}}</td>
          <td class="text-dark">{{claim.claimAmount}}</td>
          <td class="text-dark">{{claim.claimStatus}}</td>
          <td class="text-dark">
            <button class="btn btn-outline btn-success" data-bs-toggle="modal" (click)="edit(claim)" data-bs-target="#reviewClaim">REVIEW</button>

          </td>
          <td class="text-dark">
            <button class="btn btn-outline-primary " data-bs-toggle="modal" data-bs-target="#updateClaim"
              (click)="edit(claim)">
              <i class="fa-solid fa-file-pen text-dark"></i>
            </button>
            <!-- <button class="btn btn-outline btn-success">UPDATE</button> -->

            <button class="btn btn-outline-primary ms-2 " (click)="deleteClaim(claim.claimId)">
              <i class="fas fa-trash text-danger " title="Delete Policy" style="cursor: pointer;"></i>
            </button>


          </td>
        </tr>
      </tbody>

    </table>
    <div *ngIf="claims.length === 0" class="alert alert-warning mt-4 text-center w-50">
      There are no claims to display.
   </div>
    <!-- Pagination Controls -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="prevPage()">Previous</button>
        </li>
        <li class="page-item disabled">
          <span class="page-link">{{currentPage}} / {{totalPages()}}</span>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages()">
          <button class="page-link" (click)="nextPage()">Next</button>
        </li>
      </ul>
    </nav>
  </div>
</div>


<div *ngIf="selectedClaim" class="modal fade" id="reviewClaim" tabindex="-1" aria-labelledby="reviewClaimLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow">
      <table class="pt-4 mt-4 table table-info table-hover">
        <tr>
          <th class="position-relative text-center ">REVIEW BY AMOUNT</th>
          <th class="position-relative text-center ">REVIEW BY VALIDITY</th>

        </tr>
        <tr>
          <td class="text-center">
            <button class="btn btn-outline btn-success text-center" data-bs-dismiss="modal"  (click)="reviewByAmt(selectedClaim.claimId)">REVIEW</button>

          </td >
          <td class="text-center">
            <button class="btn btn-outline btn-success " data-bs-dismiss="modal" (click)="reviewByPeriod(selectedClaim.claimId)">REVIEW</button>
          </td>

          <td>

          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div *ngIf="selectedClaim" class="modal fade" id="updateClaim" tabindex="-1" aria-labelledby="updateClaimLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow">
      <form (ngSubmit)="update(claimForm.value)" #claimForm="ngForm">
        <div class="modal-header bg-info text-white">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Claim Id</label>
            <input type="number" class="form-control" [(ngModel)]="selectedClaim.claimId" name="claimId" readonly>
          </div>

          <div class="mb-3">
            <label class="form-label">Customer Id</label>
            <input type="number" class="form-control" [(ngModel)]="selectedClaim.customerId" name="customerId" 
              readonly>
          </div>
          <div class="mb-3">
            <label class="form-label">Customer Mail</label>
            <input type="text" class="form-control" [(ngModel)]="selectedClaim.customerMail" name="customerMail"
              required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #customerMailRef="ngModel">
            <div *ngIf="customerMailRef.invalid && customerMailRef.touched"
              class="alert alert-danger alert-custom mt-2 mx-auto">
              Valid email is required
            </div>

          </div>
          <div class="mb-3">
            <label class="form-label">Policy Id</label>
            <input type="text" class="form-control" [(ngModel)]="selectedClaim.policyId" name="policyId" 
              readonly>
          </div>
          <div class="mb-3">
            <label class="form-label">Agent Id</label>
            <input type="number" class="form-control" [(ngModel)]="selectedClaim.agentId" name="agentId" 
              readonly>
          </div>
          <div class="mb-3">
            <label class="form-label">Claim Amount</label>
            <input type="number" class="form-control" [(ngModel)]="selectedClaim.claimAmount" name="claimAmount"
              required>
          </div>
          <div class="mb-3">
            <label class="form-label">Status</label>
            <input type="text" class="form-control" [(ngModel)]="selectedClaim.claimStatus" name="claimStatus" readonly>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-bs-dismiss="modal" [disabled]="claimForm.invalid">
            CREATE
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>